.app-container {
    padding: 20px;/* Adjust the padding value as needed */
  }

  /* YourComponent.css */

.icon-button svg  {
  transition: fill 0.3s ease; /* Add transition for a smooth color change */
}

.icon-button:hover svg  {
  fill: rgb(247, 15, 15); /* Change the fill color on hover */
}
